<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <a href="/">â† Back to Home</a>

  <h1>Welcome, Admin</h1>
  <ul>
    <li><a href="/category/menu">Manage Menu</a></li>
    <li><a href="/category/orders">View Orders</a></li>
    <li><a href="/category/tables">Manage Tables</a></li>
    <li><a href="/category/reservations">Manage Reservations</a></li>
    <li><a href="/category/inventory">Manage Inventory</a></li>
    <li><a href="/admin/logout">Logout</a></li>
  </ul>
</body>
</html>
