<!DOCTYPE html>
<html>
<head>
  <title>Order Success</title>
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>
  <h2>Thank you! Your order has been placed.</h2>
  <a href="/user/dashboard">Back to Menu</a>
</body>
</html>
