<!DOCTYPE html>
<html>
<head>
  <title>User Dashboard</title>
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>
    <a href="/">← Back to Home</a>

  <h2>Menu</h2>
  <form method="POST" action="/user/order">
    <label>Your Name:</label><br>
    <input type="text" name="name" required><br><br>

    <% menu.forEach(item => { %>
      <input type="checkbox" name="items" value="<%= item.name %>">
      <%= item.name %> - ₹<%= item.price %><br>
    <% }) %>

    <br>
    <button type="submit">Place Order</button>
    
  </form>
  <hr>
<h2>Reserve a Table</h2>
<form method="POST" action="/user/reserve">
  <input type="text" name="name" placeholder="Your Name" required><br>
  <input type="date" name="date" required><br>
  <input type="time" name="time" required><br>
  <input type="number" name="guests" placeholder="Guests" required><br>
  <button type="submit">Reserve</button>
</form>

</body>
</html>
